.calcclass {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 700px;
  border: 1px solid rgb(0, 0, 0);
}

.calclefttext {
  margin: 0;
  font-size: 54px;
}

.display {
  font-size: 40px;
  background-color: #777;
  display: flex;
  height: 100px;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

#text {
  overflow: hidden;
}

.btn {
  border: 2px solid rgb(197, 197, 197);
  font-size: 40px;
}

.row {
  height: 85px;
  display: flex;
}

.maindiv {
  margin: 50px;
}

header {
  padding: 1rem;
  background-color: #333;
  margin-bottom: 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ulnav {
  list-style-type: none;
}

.headername {
  color: rgb(231, 231, 8);
  font-size: 40px;
  margin: 0;
}

.textinlink {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.textinlink:hover {
  color: rgb(231, 231, 8);
}
